body {
    background-image: url(https://cdn.wallpapersafari.com/68/40/ubwcDK.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgb(102, 179, 255);
    background-attachment: fixed;

}
